/* Desctop */
.mobile__header{
    display: none;
}

.mobile__menu{
    display: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    background: var(--slate-900);
    border-bottom: 1px solid var(--slate-500);
    z-index: 50;
}
.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    font-size: 32px;
    text-transform: uppercase;
    background-image: linear-gradient(45deg, var(--violet-500), var(--pink-500));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__menu>a{
    margin: 0 10px;
}

.header__menu>a:hover{
    border-bottom: 1px solid var(--slate-500);
    padding-bottom: 3px;
}

.connection__button button{
    font-weight: 600;
    width: 100%;
    background: var(--slate-500);
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.2s ease;
    background-image: linear-gradient(45deg, var(--violet-500), var(--pink-500));
    -webkit-box-shadow: 0px 0px 18px -6px var(--pink-500);
    -moz-box-shadow: 0px 0px 18px -6px var(--pink-500);
    box-shadow: 0px 0px 18px -6px var(--pink-500);
}

.connection__button button:hover{
    transform: scale(1.05);
}

/* Mobile */
@media(max-width: 700px){
    .header{
        display: none;
    }

    .mobile__header{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 15px 0;
        background: var(--slate-900);
        border-bottom: 1px solid var(--slate-500);
        z-index: 500;
    }

    .mobile__header__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mobile__menu_button{
        width: 35px;
        height: 35px;
        color: var(--slate-200);
    }

    .mobile__menu{
        position: absolute;
        padding-top: 100px;
        top: 0;
        right: 0;
        padding-right: 20px;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: end;
        background-color: var(--slate-900);
        z-index: 2;
        transform: translateY(-200%);
        transition: transform 0.5s ease-in-out;
    }

    .mobile__menu.active{
        transform: translateY(0);
    }

    .mobile__menu a{
        font-size: 20px;
        border-right: 1px solid var(--slate-500);
        padding-right: 10px;
    }

    .mobile__menu a:nth-child(2){
        margin-top: 20px;
    }

    .connection__button{
        margin-top: 150px;
        font-size: 18px;
    }
}