@font-face {
    font-family: 'Sportrop';
    src: url('Sportrop-Regular.eot');
    src: local('Sportrop Regular'), local('Sportrop-Regular'),
        url('Sportrop-Regular.eot?#iefix') format('embedded-opentype'),
        url('Sportrop-Regular.woff2') format('woff2'),
        url('Sportrop-Regular.woff') format('woff'),
        url('Sportrop-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

